/* global css  */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;

    
    
}
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.container{
    width: 1440px;
    margin: 0 auto;
}

/* global css end */

/* shared styles */
.hide{
    display: none;
}
.shared-title{
    color: #131313;
    font-size: 2.44rem;
    font-weight: bold;
}
.display-flex{
    display: flex;
}
.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

.dark-4{
    color: #A1A1A1;

}
.dark-5{
    color: rgba(255, 144, 14, 1);
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 24px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 8px;
}
/* header section code start */


.header-section{
    

}

.nav-bar{
    justify-content: space-between;
    padding: 24px 0px;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 2.8rem;
}
.nav-links{
    
}

.nav-item{
    list-style-type: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}

/* banner code start */
.banner{

    padding: 50px 0px;
}

.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;

}

.banner-title{
    font-weight: bold;
    font-size: 4rem;
}

.banner-description{
    margin: 20px 0px;
}

.banner-image img{
    width: 100%;
}

/* teaam section code start */
.team-section{
    margin: 85px 0px 130px 0px;

}

.team{

    align-items: center;
    column-gap: 73px;
}

.team-image-container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.our-features{
    
    max-width: 530px;

}

.features-title{

    font-size: 45px;
}

.features-description{
    padding: 24px 0px;

}

/* responsive mediaquery small device */

@media screen and (max-width: 576px) {

    .container{
        width: 100%;
        margin: auto;
    }
/* banner */
    .banner{
        padding: 10px 0px;

    }
    .nav-bar{
       
        flex-direction: column;
    }
    .banner-title{
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .banner-content{
        width: 90%;
        margin: 30px auto;
        
    }
    .banner-image{
        width: 90%;
        margin: auto;
    }
/* banner end */
/* team code start */

    .team{
        flex-direction: column;
    }
   
    .team-image-container{
       grid-template-columns: repeat(1,1fr);
       
       
    }
  
    .our-features{
        margin-top: 20px;
        max-width: 90%;
    }
}



/* mediam size device */

@media screen and (min-width: 576px) and (max-width: 992px){

    .container{
        width: 90%;
        margin: auto;
    }

    .team{
        flex-direction: column;
    }

    .our-features{
        max-width: 670px;
        margin-top: 20px;
    }
    
}